.Number {
    background: var(--white);
    border-radius: 10px;
    padding: 0px 40px;
    position: relative;
}

.header > p {
    color: var(--primary);
    text-align: center;
    margin: 0;
    margin-bottom: -10px;
    font-size: 16px;
}

.header > p:hover {
    transition: 300ms;
    cursor: pointer;
    opacity: 0.8;
}

.field form {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field input {
    appearance: none;
    border: none;
    outline: 0;
    background: var(--light-low);
    margin: 6px;
    padding: 8px;
    width: 510px;
    border-radius: 4px;
    font-size: 10px;
}

.field form > div > span {
    color: var(--dark);
    font-size: 10px;
    opacity: 0.8;
}

.field form > div > button {
    border: none;
    color: var(--white);
    background: var(--primary);
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

@media (max-width: 420px) {
    .Number {
        padding: 20px 14px;
        margin: -20px 0;
    }
    .field input {
        padding: 6px 12px;
        min-width: 5em;
        font-size: 12px;
    }
    .field input + span {
        font-size: 12px;
    }

    .field form > button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
