.wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

.wrapper > p {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0;
    color: var(--dark);
}

.wrapper > .tableWrapper {
    border-spacing: 0 20px;
    width: 100%;
    font-size: 12px;
    border-collapse: separate;
}

.wrapper > .tableWrapper > tr {
    box-shadow: 0 2px 4px var(--light);
    border-radius: 10px;
    border: 1px solid var(--light);
    padding: 20px;
}

.wrapper > .tableWrapper > tr:hover {
    box-shadow: 4px 8px 12px var(--light);
    cursor: pointer;
}

.wrapper > .tableWrapper > tr > td {
    font-size: 12px;
    padding: 10px;
    color: var(--dark);
    border-radius: 10px;
}

.wrapper > .tableWrapper > tr > td > .icon {
    font-size: 20px;
    color: var(--secondary2);
}

.wrapper > .tableWrapper > tr > td > span {
    margin-left: 12px;
}

.wrapper > .tableWrapper > tr > td > span:hover {
    color: var(--secondary);
}

.wrapper > .tableWrapper > tr > td:nth-child(2) {
    text-align: left;
}

.wrapper > .tableWrapper > tr > td:nth-child(3) {
    text-align: center;
}

.wrapper > .tableWrapper > tr > td:last-child {
    text-align: right;
}

.wrapper > .tableWrapper > tr > td > button {
    border-radius: 4px;
    border: none;
    padding: 4px 10px;
    margin: 10px 0;
    background-color: var(--secondary2);
    color: var(--white);
    font-size: 10px;
}

.wrapper > .tableWrapper > tr > td > button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 200ms;
}
