.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

.wrapper > p {
    font-size: 1.4em;
    margin-top: 6px;
}

.wrapper > .flexWrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 4px 8px var(--light);
    border-radius: 10px;
    border: 1px solid var(--light);
    padding: 6px 30px;
    margin-bottom: 20px;
}

.wrapper > .flexWrapper:hover {
    box-shadow: 4px 8px 12px var(--light);
    cursor: pointer;
}

.wrapper > .flexWrapper > p {
    font-size: 1em;
    color: var(--dark);
}

.wrapper > .flexWrapper > button {
    border-radius: 4px;
    border: none;
    padding: 0px 14px;
    margin: 10px 0;
    background-color: var(--secondary2);
    color: var(--white);
    font-size: 14px;
}

.wrapper > .flexWrapper > button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 200ms;
}

.wrapper > .flexWrapper > p > .icon {
    font-size: 20px;
    color: var(--secondary2);
}

.wrapper > .flexWrapper > p > span {
    margin-left: 12px;
}

.wrapper > .flexWrapper > p > span:hover {
    color: var(--secondary);
}
