.DoubleNumber {
    background: var(--white);
    border-radius: 10px;
    padding: 20px 40px;
    position: relative;
    margin-bottom: 20px;
}
.header > h2 {
    color: var(--primary);
    margin: -10px 6px 20px 6px;
    position: relative;
    display: flex;
    justify-content: center;
}

.header > h2:hover {
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}

.field input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    background: var(--light);
    margin: 6px;
    padding: 10px;
    width: 30%;
    border-radius: 4px;
}
.field input + span {
    font-size: 14px;
    color: var(--dark-blue);
    font-weight: 500;
}

.field form > button {
    border: none;
    outline: 0;
    color: var(--white);
    background: var(--primary);
    margin: 0 0 0 10px;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

@media (max-width: 420px) {
    .DoubleNumber {
        padding: 20px 14px;
        margin: -20px 0;
    }
    .field input {
        padding: 6px 12px;
        min-width: 2em;
        max-width: 4em;
        font-size: 12px;
    }
    .field input + span {
        font-size: 12px;
    }

    .field form > button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
