.Services {
    position: relative;
    z-index: 500;
    margin-top: -50px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 33%));
    gap: 20px;
}
.Services > div {
    text-align: center;
    border: 1px solid var(--light-grey);
    background: var(--white);
    padding: 20px 10px;
    box-shadow: 0 10px 20px var(--light);
}
.Services > div > p {
    margin: 0;
}
.Services > div > p:nth-child(1) {
    color: var(--primary);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.Services > div > p:nth-child(2) {
    font-size: 12px;
    color: var(--dark-grey);
}
.Services div > p > svg {
    font-size: 26px;
    margin-right: 5px;
}

@media (max-width: 420px) {
    .Services {
        grid-template-columns: repeat(1, minmax(0, 100%));
        margin-top: -2em;
    }
    .Services > div {
        box-shadow: 0 6px 12px var(--light);
        border-radius: 4px;
    }
    .Services > div > p:nth-child(1) {
        font-size: 16px;
    }
}
