.offerWrapper {
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 16px 20px;
}

.gridBox {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.gridBox div > p:nth-child(1) {
    font-size: 14px;
    color: var(--dark);
    font-weight: 500;
}

.gridBox div > p > span {
    color: var(--green);
}

.gridBox div > p:nth-child(2) {
    font-size: 12px;
    color: var(--dark);
    margin-top: -6px;
}

.gridBox img {
    margin-top: 10px;
    width: 10rem;
    height: 5rem;
    border-radius: 20px;
    position: absolute;
    margin-left: 6rem;
}
