.MedicalReports {
    background: var(--light);
}

@media (max-width: 420px) {
    .MedicalReports {
        grid-template-columns: minmax(0, 12%) minmax(0, 88%);
        padding: 0 12px 0 0;
    }
    .MedicalReports .prescriptionsContainer {
        margin-left: -10px;
    }
}
