.wraper {
    height: 100vh;
    position: relative;
    background-color: var(--white);
}

.wraper > a {
    position: absolute;
    top: 30px;
    left: 34px;
}

.wraper > a > img {
    height: 48px;
    width: 48px;
    transition: 300ms;
}

.wraper > a > img:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.1);
    transition: 300ms;
}

.box {
    height: 96vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5em;
}

.box > div:nth-child(1) {
    min-width: 32em;
}

.box > div > img {
    width: 32em;
    height: 32em;
    object-fit: cover;
    border-radius: 10px;
}

.box > div > h2 {
    font-size: 70px;
    line-height: 76px;
    color: var(--dark-blue);
    margin: 0;
}

.box > div > p {
    margin: 0;
    margin-top: 10px;
    padding-left: 4px;
    color: var(--dark-blue);
}

.box > div > p > span {
    color: var(--red);
}

.box > div > form {
    overflow: hidden;
    position: relative;
}

.box > div > form > label {
    position: absolute;
    top: 28px;
    padding: 8px;
    border: 2px solid var(--light-grey);
    border-radius: 2px;
    color: var(--secondary);
    font-size: 14px;
    border-bottom: none;
}

.box > div > form > input {
    margin-top: 30px;
    border: none;
    outline: 0;
    width: 100%;
    padding: 8px 0px;
    padding-left: 60px;
    border-bottom: 2px solid var(--light-grey);
}

.box > div > form > button {
    float: right;
    margin-top: 10px;
    border: none;
    padding: 6px 30px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
}

.box > div > form > button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 200ms;
}

.show {
    margin-top: 40px;
    min-height: 140px;
}

.show > span {
    margin-top: -12px;
    display: block;
    font-size: 14px;
    text-align: center;
    color: var(--green);
}

.show > p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.show > span:last-child {
    display: block;
    margin-top: 14px;
    color: var(--red);
    font-weight: 500;
    font-size: 14px;
    min-height: 24px;
}

.show > form > div {
    display: flex;
    justify-content: space-around;
    background-color: var(--light-low);
    padding: 14px 10px;
    border-radius: 10px;
}

.show > form > div > input {
    width: 32px;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
}

.show > form > button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 8px 30px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    margin-top: 16px;
}

.show > form > button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 200ms;
}

.time {
    margin: 0 auto;
    text-align: center;
    min-height: 20px;
    color: var(--red);
    font-size: 12px;
}

.time > span {
    font-size: 14px;
}

@media (max-width: 420px) {
    .wraper > a {
        top: 20px;
        left: 20px;
    }

    .wraper > a > img {
        height: 34px;
        width: 34px;
    }

    .box {
        height: 100vh;
        padding: 0 2em;
        overflow-y: auto;
        align-items: flex-start;
    }

    .box > div:nth-child(1) {
        display: none;
    }

    .box > div {
        margin-top: 5em;
    }

    .box > div > h2 {
        font-size: 44px;
        line-height: 54px;
    }

    .box > div > p {
        font-size: 14px;
        margin-top: 6px;
    }
}
