.wrapper {
    margin-top: 1em;
    padding: 10px 9em;
    margin-bottom: 4em;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1 {
    font-weight: 500;
    padding: 0 40px;
    margin-bottom: 40px;
    font-size: 30px;
    color: var(--dark-blue);
}

/* .title h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: '';
    position: relative;
    margin-top: 2px;
    left: 50%;
    margin-left: -50px;
    background-color: var(--primary);
} */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em 2em;
}
.grid > div {
    padding: 0 2em;
    border-radius: 10px;
    transition: 250ms;
    border: none;
}

.grid > div:hover {
    background-color: var(--white);
    box-shadow: 2px 4px 6px var(--light);
    cursor: pointer;
    transition: 250ms;
    transform: translateY(-4px);
}

.grid div > p {
    display: flex;
}

.grid div > p > img {
    width: 250px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.grid div > p > div {
    padding-left: 20px;
}

.grid div > p > div > h2 {
    font-size: 20px;
    color: var(--dark);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
}

.grid div > p > div > span {
    color: var(--dark);
    font-size: 14px;
}

.grid div > p > div > div {
    margin-top: 14px;
}

.grid div > p > div > div > li {
    font-size: 14px;
    color: var(--dark);
    padding: 2px 0px;
}
