.searchDoctor {
    width: 70%;
    margin: 2em auto;
    background-color: var(--white);
    padding: 10px 40px;
    border-radius: 10px;
    margin-bottom: 2em;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 4px 6px 10px var(--light);
}

.wrapperRight {
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    border: 1px solid var(--light);
    border-radius: 4px;
}

.searchBar span {
    padding: 0 8px 0 10px;
    color: var(--grey2);
    border-right: 2px solid var(--grey2);
    opacity: 0.9;
}
.searchBar input {
    border: none;
    padding: 4px 10px;
    width: 80%;
}

.searchBar input:focus {
    outline: none;
}

.optAllDoc {
    position: absolute;
    background-color: var(--white);
    width: 91.6%;
    border-radius: 4px;
    padding: 2px 4px;
    overflow-y: auto;
    border: 1px solid var(--light);
    margin-top: 2px;
}

.optSelect {
    padding: 10px 6px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.optSelect:hover {
    background-color: var(--light);
    color: var(--white);
}
