.Register {
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Wrapper {
    background: var(--white);
    padding: 20px 40px 40px 40px;
    box-shadow: 0 10px 20px var(--grey);
    border-radius: 4px;
    min-width: 400px;
}
.Wrapper > h2 {
    text-align: center;
    color: var(--primary);
}
.Wrapper > h2 > svg {
    margin: 0 5px 0 0;
}
.Wrapper > form > input {
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    background: var(--light);
    padding: 7px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    color: var(--grey);
}
.Wrapper > form > button {
    color: var(--white);
    background: var(--primary);
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    border-radius: 2px;
    padding: 7px 20px;
    cursor: pointer;
    margin: 10px 0 0 0;
}
.sexWrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
    gap: 5px;
}
.sexWrapper label {
    display: block;
    text-align: center;
    color: var(--grey);
    font-size: 12px;
}
.sexWrapper input {
    border: none;
    background: var(--light);
    padding: 7px 20px;
    box-sizing: border-box;
    width: 100%;
}
.sexWrapper input:focus {
    outline: 0;
}
.sexWrapper select {
    border: none;
    background: var(--light);
    width: 100%;
    padding: 7px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.sexWrapper select:focus {
    outline: none;
}
.sexWrapper > div:nth-child(2) {
    position: relative;
}
.sexWrapper > div:nth-child(2) > label {
    position: absolute;
    top: -30px;
    left: 15px;
    color: var(--white);
    background: var(--dark);
    padding: 5px 15px;
    border-radius: 2px;
    opacity: 0.7;
    display: none;
}
.sexWrapper > div:nth-child(2) > input:hover .sexWrapper > div:nth-child(2) > label {
    display: block;
}
