.Wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(min-content, max-content);
}

.Wrapper > div {
    background: var(--white);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.Wrapper > div:hover {
    box-shadow: 6px 10px 20px var(--light-grey);
    transition: 250ms;
}

.Wrapper > div > svg {
    display: block;
    margin: 40px auto 20px auto;
    font-size: 2.4em;
}

/* Active */
.Wrapper .activeBox {
    background: linear-gradient(90deg, var(--secondary) 0%, var(--secondary2) 100%);
    box-shadow: 0px 4px 8px var(--light-grey);
}

.Wrapper > .activeBox > svg {
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
    font-size: 2.4em;
}

.Wrapper > .activeBox > p {
    color: var(--white);
}

.Wrapper .activeBox .bgIcon {
    position: absolute;
    opacity: 0.08;
    font-size: 2em;
    bottom: 0;
    right: 0;
    margin-left: -10px;
}

/* Not Active */
.Wrapper .box {
    background: var(--white);
    box-shadow: 0px 4px 8px var(--light-grey);
}

.Wrapper > .box > p {
    color: var(--dark-blue);
}

.Wrapper .box .bgIcon {
    display: none;
}
/*  */

.Wrapper > div > p > span {
    font-weight: 300;
    font-size: 14px;
    display: block;
}

.Wrapper > div > p:nth-child(2) {
    text-align: center;
    font-size: 1.4em;
    margin: 10px 0;
    font-weight: 500;
}

.Wrapper > div > p:nth-child(3) {
    margin: 5px 0 40px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.Wrapper > div:nth-child(1) > svg {
    color: var(--red);
}

.Wrapper > div:nth-child(2) > svg {
    color: var(--green);
}

.Wrapper > div:nth-child(3) > svg {
    color: var(--red);
}

.Graph {
    margin-top: 30px;
    background: var(--white);
    border-radius: 10px;
}

@media (max-width: 420px) {
    .Wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .Wrapper > div {
        background: var(--white);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 1px 1px 5px var(--grey2);
        transition: 250ms;
        position: relative;
    }
    .Wrapper > div:hover {
        box-shadow: 5px 5px 10px var(--grey2);
    }
    .Wrapper > div > span:nth-child(4) {
        padding: 10px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
        background: var(--white);
        transform: rotate(45deg);
        box-shadow: 3px 3px 5px var(--grey2);
    }

    .Wrapper > div > svg {
        display: block;
        margin: 20px auto 20px auto;
        font-size: 2em;
    }
    .Wrapper > div > p {
        color: var(--dark-blue);
        font-size: 16px;
    }
    .Wrapper > div > p > span {
        font-weight: 200;
        font-size: 14px;
        display: block;
    }
    .Wrapper > div > p:nth-child(2) {
        text-align: center;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 600;
        margin-top: -12px;
    }
    .Wrapper > div > p:nth-child(3) {
        margin: 5px 0 20px 0;
        text-align: center;
        font-size: 16px;
    }
    .Wrapper > div:nth-child(1) > svg {
        color: var(--red);
    }
    .Wrapper > div:nth-child(2) > svg {
        color: var(--green);
    }
    .Wrapper > div:nth-child(3) > svg {
        color: var(--red);
    }

    .Graph {
        margin: 30px 0 0 0;
        background: var(--white);
        border-radius: 10px;
    }
}
