.container {
}
.wrapper {
    align-items: center;
    width: 100%;
    border: 2px solid var(--light);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--white);
    margin-top: 3%;
    /* margin-left: 2%; */
}

.wrapper > div:nth-child(1) {
    /* background-color: var(--primary); */
    margin-bottom: 0;

    width: 100%;
    background-color: ghostwhite;
    padding: 4px;
}
.wrapper > div:nth-child(1) > p {
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 900;
    color: var(--dark-blue);
}

/* this is for background  */
.formSection {
    background-color: var(--low-skyblue);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-top: -10px;
}

.formSection > div:nth-child(1) {
    /* background-color: var(--grey); */
    margin-top: -26px;
    margin-bottom: -26px;
    margin-left: -26px;
    border-left: var(--white);
}

.formSection > div:nth-child(1) > p {
    /* background-color: var(--grey); */
    margin-top: 15%;
    margin-left: 20%;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
}
.formSection > div:nth-child(1) > img {
    /* background-color: var(--grey); */

    margin-left: 5%;
}

.form > div:nth-child(1) {
    margin: 0 auto;
    text-align: center;
}

.label1 {
    background: var(--white);
    border: none;
    outline: var(--white);
    /* padding: 8px 16px; */
    /* color: var(--primary); */
    color: var(--dark-grey);
}

.form > div:nth-child(1) > div > div:nth-child(1) > label {
    /* color: var(--white); */
    font-size: 21px;
    font-weight: 500;
}

.form > div:nth-child(1) > div > div:nth-child(2) > select {
    padding: 10px 220px;
    border-radius: 6px;
    outline: var(--white);
}

.form > div:nth-child(2) {
    margin-top: 30px;
    padding: 0 55px;
}

.form > div:nth-child(3) {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}

/* for the middle div  */

.form > div:nth-child(2) > div:nth-child(1) {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-between;
}

.form > div:nth-child(2) > div:nth-child(2) {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > input {
    padding: 8px 0px 8px 70px;
}

.form > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > input {
    width: 72%;
}

.form > div:nth-child(2) > div:nth-child(3) {
    margin-top: 10px;
}

.form > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
    display: flex;
}
.form > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
    margin-top: 14px;
    margin-right: 10px;
}

.form > div:nth-child(2) > div:nth-child(4) {
    margin-top: 10px;
    padding-left: 20%;
    display: flex;
}

.form > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) {
    margin-right: 10px;
    margin-top: 10%;
}

.form > div:nth-child(3) {
    display: flex;
    justify-content: center;
}

.wrapper > div {
    text-align: center;
}

.wrapper > div > p {
    text-align: center;
    font-size: 18px;
    color: var(--primary);
}

.wrapper > div:nth-child(2) {
    border: 3px solid var(--light);
    text-align: left;
    border-radius: 10px;
    padding: 25px;
}

.last {
    margin-top: 30px;
}

.left > div {
    margin: 10px 0;
}

/* .right > div > div:nth-child(2) > select {
    border: none;
    outline: white;
    border-radius: 10px;
} */

select {
    color: var(--black);
    margin-left: 50px;
    border: none;
    outline: var(--white);
    border-radius: 10px;
    padding: 8px 35px;
    margin-top: 8px;
}

/* for label  */
label {
    margin-left: 8px;
    /* color: var(--white); */
    font-weight: 700;
    font-size: 16px;
    color: var(--dark-grey);
}

/* for input feild  */
input {
    margin-top: 4px;
    padding: 8px 44px;
    border-radius: 6px;
    border: none;
    outline: var(--white);
}

.left > div:nth-child(3) > div:nth-child(2) > input {
    width: 66%;
}

/* .right > div:nth-child(1) > div:nth-child(2) > select {
    width: 25%;
    padding: 5px 0;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--primary);
    border: none;
    margin-top: 5px;
} */
/* for the text area  */

textarea {
    margin-top: 10px;
    padding: 40px 30px;
    border-radius: 5px;
    border: none;
    outline: gainsboro;
}

/* for the button  */

.button {
    padding: 8px 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

/* making the outline none and text white  */

/* making the non editable text feiled */

.txtFeild {
    /* margin-top: 8px; */
    /* background-color: whitesmoke; */
    /* padding: 8px 45px; */
    /* color: black; */
}

/* // non editable text feild */
.input {
    background-color: var(--white);
    padding: 2.5px;
    width: 150%;
    border-radius: 6px;
}

.middle {
    background-color: var(--white);
    padding: 2.51px;
    width: 190%;
    border-radius: 6px;
}
/* for the middle1 */

/* for the Health Package Image  */
/* .healthImage {
    height: 80px;
    width: 100px;
} */

/* Newly added css  */

.heading > h2 {
    margin-left: 30%;
    margin-top: 3%;
    color: var(--primary);
    text-transform: capitalize;
}
