.Login {
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Wrapper {
    background: var(--white);
    padding: 20px 40px 40px 40px;
    box-shadow: 0 10px 20px var(--grey);
    border-radius: 4px;
    min-width: 300px;
}
.Wrapper > h2 {
    text-align: center;
    color: var(--primary);
}
.Wrapper > h2 > svg {
    margin: 0 5px 0 0;
}
.Wrapper > form > input {
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    background: var(--light);
    padding: 7px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}
.Wrapper > form > button {
    color: var(--white);
    background: var(--primary);
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    border-radius: 2px;
    padding: 7px 20px;
    cursor: pointer;
    margin: 10px 0 0 0;
}
