.Login {
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
}
.Login::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(231, 226, 250, 0.8);
    z-index: 10;
}
.statusMsg {
    position: absolute;
    top: 50px;
    color: var(--white);
    background: var(--red);
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 50;
    box-shadow: 0 5px 10px var(--grey);
}
.statusMsg > span {
    background: red;
    border-radius: 50px;
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 0 4px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 34px;
}

.logo > img {
    height: 48px;
    width: 48px;
    transition: 300ms;
}

.logo > img:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.1);
    transition: 300ms;
}

.Wrapper {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 40px;
    background: var(--white);
    padding: 0;
    box-shadow: 0 20px 30px var(--grey);
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    z-index: 50;
    transition: 200ms;
}

.left {
    font-size: 14px;
    color: var(--white);
    background: rgb(69, 125, 195, 0.8);
    border-radius: 5px 0 0 5px;
    padding: 80px 40px;
}
.left > div > h2 > svg {
    font-size: 32px;
}
.left p {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 50px 80px 0;
}
.right > div {
    width: 100%;
}
.right > div > h2 {
    text-align: center;
    color: var(--primary);
    margin: 0 0 50px 0;
}
.right > div > h2 > svg {
    margin: 0 5px 0 0;
}
.right > div > form > div {
    position: relative;
    width: 100%;
}
.right > div > form > div > input {
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    padding: 7px 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
    border-bottom: 3px solid var(--grey2);
    position: relative;
}
.right > div > form > div > input + label::before {
    content: '';
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--primary);
    transition: 200ms;
}
.right > div > form > div > input:focus + label::before {
    width: 100%;
}
.right > div > form > div > input + label span {
    font-size: 14px;
    color: var(--grey);
    position: relative;
    top: -30px;
    pointer-events: none;
    transition: 200ms;
}
.right > div > form > div > input:focus + label span,
.right > div > form > div > input:valid + label span {
    top: -52px;
    font-size: 12px;
}
.right > div > form > button {
    color: var(--white);
    background: var(--primary);
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    border-radius: 2px;
    padding: 7px 20px;
    cursor: pointer;
    margin: 10px 0 0 0;
}
.linkText {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 20px 0 0 0;
}
.linkText a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    padding-left: 8px;
}

.right > div > a {
    color: var(--secondary);
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.right > div > a:hover {
    opacity: 0.8;
    transition: 200ms;
}

.show {
    position: relative;
}

.show > svg {
    position: absolute;
    z-index: 10;
    right: 8px;
    top: 12px;
    color: var(--grey);
    font-size: 14px;
}

.show > svg:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 200ms;
}

@media (max-width: 420px) {
    .left {
        display: none;
    }

    .logo {
        top: 20px;
        left: 24px;
    }

    .logo > img {
        height: 40px;
        width: 40px;
    }

    .Wrapper {
        grid-template-columns: 90%;
        gap: 0px;
    }
    .right {
        margin: 40px 0 60px 34px;
    }
    .right > div > h2 {
        margin: 0 0 30px 0;
    }
}
