.Member {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 140px;
    gap: 10px;
}

.Member > div {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--light-grey);
    line-height: 0.5;
}

.Member > div > div > span {
    border: 1px solid #fffc7b;
    background: #fffc7b;
    padding: 5px;
    color: var(--dark-blue);
}
