.Settings {
    background: var(--light);
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 80%);
    gap: 20px;
}
.Wrapper {
    background: var(--light);
}
.Wrapper > div {
    background: var(--white);
    margin: 20px 20px 0 0;
    border-radius: 10px;
    box-shadow: 3px 3px 15px var(--light-grey);
    padding: 40px 20px 20px 20px;
}
.Nav {
    width: 100%;
    border-bottom: 2px solid var(--secondary2);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    position: relative;
}
.Nav > span {
    position: relative;
    bottom: 8px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    border: 2px solid var(--secondary2);
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 0 10px;
}
.deactiveNav {
    background: var(--white);
    color: var(--dark-blue);
}
.activeNav {
    background: var(--secondary2);
    color: var(--white);
}

@media (max-width: 420px) {
    .Settings {
        background: var(--light);
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 20px;
    }
    .Wrapper {
        background: var(--light);
        margin-left: 3em;
        margin-right: -10px;
        margin-top: -1em;
    }
    .Nav {
        padding: 0px 10px 0 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .Nav > span {
        padding: 6px 10px;
        font-size: 12px;
        margin: 0 0 0px 0px;
    }
}
