.wrapper {
    margin-top: 10px;
}

.wrapper > p {
    color: var(--grey);
    font-size: 14px;
    position: relative;
}

.wrapper > p::before {
    content: '';
    display: block;
    width: 30%;
    height: 1px;
    background-color: var(--light-grey);
    position: absolute;
    top: 60%;
    transform: translatey(-60%);
    right: 0;
}

.container {
    margin-top: -4px;
    background-color: var(--white);
    padding: 30px 40px;
    border-radius: 10px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}

.btnContainer > button {
    background: var(--secondary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.8px;
}

.btnContainer > button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 200ms;
}

.files {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.files > div {
    text-align: center;
    box-shadow: 4px 6px 10px var(--light);
    border: 1px solid var(--light);
    padding: 20px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.files > div:hover {
    box-shadow: 4px 10px 16px var(--light);
}

.files > div img {
    width: 4.8em;
    height: 4.8em;
    transition: 250ms;
}

.files > div img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 250ms;
}

.files > div p {
    font-size: 12px;
    color: var(--dark);
    letter-spacing: 0.8px;
}

.files > div p:nth-child(3) {
    margin-top: -8px;
    font-size: 10px;
}

.btn > button {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: var(--secondary2);
    color: var(--white);
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 4px;
}

.btn > button:hover {
    cursor: pointer;
    opacity: 0.8;
}
