.Information {
    background: var(--white);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
    min-height: 40%;
}
.Information > h3 {
    color: var(--dark-blue);
}
.Information > p {
    font-size: 14px;
    position: relative;
    font-weight: 500;
}

.Information > p > span {
    position: absolute;
    left: 100px;
    color: var(--dark-grey);
}
.Information > p > span::before {
    content: ': ';
}
