/* .ChangePassword {
    margin: 20px;
}

.ChangePassword > h2 {
    color: var(--dark-blue);
}

.msg {
    padding: 5px 12px;
    background: var(--red);
    color: var(--white);
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
}

.msg > span {
    display: inline-block;
    background: var(--white);
    color: var(--red);
    margin-left: 15px;
    border-radius: 50px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.ChangePassword form > label {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
    background: var(--white);
    padding: 0 2px;
}

.ChangePassword form > input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--secondary);
    outline: 0;
    display: block;
    margin: 0 0 10px 0;
    border-radius: 2px;
    padding: 7px 10px;
    width: 40%;
}

.ChangePassword form > input:focus {
    outline: 0;
}

.ChangePassword form > select {
    border: 1px solid var(--secondary);
    padding: 7px 20px;
    background: var(--white);
    color: var(--secondary);
    border-radius: 2px;
    margin: 10px 0 10px 30px;
    position: relative;
}
.ChangePassword form > select:focus {
    outline: 0;
}
.ChangePassword form > select + label {
    position: relative;
    top: 0;
    left: -150px;
}

.ChangePassword form > button {
    cursor: pointer;
    border: none;
    background: var(--secondary);
    color: var(--white);
    display: block;
    padding: 10px 25px;
    border-radius: 2px;
    margin: 20px 0;
}
.ChangePassword form > button:hover {
    box-shadow: 1px 3px 10px var(--grey2);
}

@media (max-width: 420px) {
    .ChangePassword {
        margin: 0px;
        margin-bottom: -2em;
    }

    .ChangePassword > h2 {
        font-size: 1em;
        margin-top: 1em;
    }
    .ChangePassword form > input {
        width: 80%;
    }
    .ChangePassword form > button {
        padding: 8px 25px;
        border-radius: 2px;
        margin: 20px auto;
        font-size: 12px;
    }
} */

.changePassword {
    width: 95%;
    padding: 10px 0px;
    margin: 20px auto;
    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 10px;
}

.changePassword .formHeader {
    color: var(--secondary);
    margin-bottom: 10px;
    font-size: 14px;
}

.changePassword .formWrap {
    padding: 30px;
    background: var(--light-low);
    border-radius: 6px;
    margin-bottom: 20px;
}

.changePassword label {
    display: block;
    font-size: 12px;
    color: var(--dark-grey);
    margin-bottom: 14px;
    font-weight: 450;
}

.changePassword input,
.changePassword select,
.changePassword textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid var(--white);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.35);
    font-size: 12px;
    color: var(--dark-grey);
    background: var(--white);
    outline: none;
}

.changePassword input:focus {
    border: 2px solid var(--grey2);
}

.changePassword .Button {
    background-color: var(--secondary);
    padding: 8px 20px;
    color: var(--white);
    font-size: 12px;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 auto;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    width: 14em;
    display: block;
    margin-top: 1em;
    cursor: pointer;
    margin-bottom: -10px;
}

.changePassword .Button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 200ms;
}

.alertMessage {
    text-align: center;
    color: var(--red);
    font-weight: 500;
    font-size: 14px;
    margin-top: 16px;
}
