.ChangePassword {
    margin: 20px;
}

.ChangePassword > h2 {
    color: var(--dark-blue);
}

.msg {
    padding: 5px 12px;
    background: var(--red);
    color: var(--white);
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
}

.msg > span {
    display: inline-block;
    background: var(--white);
    color: var(--red);
    margin-left: 15px;
    border-radius: 50px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.ChangePassword form > label {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
    background: var(--white);
    padding: 0 2px;
}

.ChangePassword form > input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--secondary);
    outline: 0;
    display: block;
    margin: 0 0 10px 0;
    border-radius: 2px;
    padding: 7px 10px;
    width: 40%;
}

.ChangePassword form > input:focus {
    outline: 0;
}

.ChangePassword form > select {
    border: 1px solid var(--secondary);
    padding: 7px 20px;
    background: var(--white);
    color: var(--secondary);
    border-radius: 2px;
    margin: 10px 0 10px 30px;
    position: relative;
}
.ChangePassword form > select:focus {
    outline: 0;
}
.ChangePassword form > select + label {
    position: relative;
    top: 0;
    left: -150px;
}

.ChangePassword form > button {
    cursor: pointer;
    border: none;
    background: var(--secondary);
    color: var(--white);
    display: block;
    padding: 10px 25px;
    border-radius: 2px;
    margin: 20px 0;
}
.ChangePassword form > button:hover {
    box-shadow: 1px 3px 10px var(--grey2);
}

@media (max-width: 380px) {
    .ChangePassword {
        margin: 0px;
        margin-bottom: -2em;
    }

    .ChangePassword > h2 {
        font-size: 1em;
        margin-top: 1em;
    }
    .ChangePassword form > input {
        width: 80%;
    }
    .ChangePassword form > button {
        padding: 8px 25px;
        border-radius: 2px;
        margin: 20px auto;
        font-size: 12px;
    }
}
